/*
  These rules take effect when the browser's width
  is either 980px or less.
*/
@media screen and (max-width: 980px) {
  .container {
  width: 100%;
  max-width: 687px;
  margin: 0 auto;
  clear: both;
  float: left;
}

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  margin-left: 50px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

nav {
  float: right;
  padding:25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}
 
}

/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
  .container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  clear: both;
  float: middle;
}

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: middle;
  width: 100%;
  max-width: 768px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

nav {
  float: middle;
  padding:5px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}
 
}

/*
  These rules take effect when the browser's width
  is either 640px or less.
*/
@media screen and (max-width: 640px) {
  .container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  clear: both;
  float: middle;
}

#main-container {
  padding-top: 140px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: middle;
  width: 100%;
  max-width: 640px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

nav {
  float: middle;
  padding:5px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}
 
}




